bs4
cmislib3
cmocean
click
dask
fsspec
gspread<5.2
humanfriendly
loguru
matplotlib
netcdf4
numba
numpy>2
pandas>2
prefect>3.0.3
prefect-aws
pyyaml
requests
s3fs>=2024
scipy
xarray>=2024.1.1
zarr<3.0.0
